/* this is the main colors used on the website  */



body, p, .main-nav a { 
    font-family: 'Black Ops One', cursive;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: aliceblue;
 }

body {
    margin: 0; /* Reset default margin */
    background: linear-gradient(to top, #111418, #323D48, #2c363f, #3B4854, #44525F, #C3CCD5);
}
/* welcome note */
 #welcome{
    display: flex;
    position: relative;
    padding: 20px;
    align-items: center;
    color: linear-gradient(to top, darkblue, lightblue);
    flex-direction: column;
    
} 

.main-nav {
    text-decoration: none;
 
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; /*this removes bullets */
    margin: 0;
    padding: 5;
    padding-left: 5;
    padding-right: 5;
    font-weight: bold;
    border-radius: 5px;

}

.main-nav a:hover {
    color: lightblue;
    background: linear-gradient(to bottom, black, darkblue, lightblue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s ease, color 0.3s ease;
    
}

/* for the picture on the website  */
#my-image  { 
    max-width: 50%;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    
}

.image-info h2 {
    margin: 0; /* Reset default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 3rem;

}

#s-e {
    margin: 0; /* Reset default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 3rem;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project-card {
    
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 0 40%;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-card h3 {
    margin: 0;
    font-size: 18px;
}

.project-card p {
    margin: 10px 0;
}

.project-card a {
    display: inline-block;
    color: linear-gradient(to bottom, black, darkblue, lightblue);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.project-buttons {
    text-align: center;
    margin-top: 20px;
}



a:hover {
    color: lightblue;
    background: linear-gradient(to bottom, black, darkblue, lightblue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s ease, color 0.3s ease;

}

#contact {
    display: flex;
    color: aliceblue;
    margin: 0; /* Reset default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 1rem;
    flex-direction: column;
}

header #contact {
    display: flex;
    color: aliceblue;
    margin: 0; /* Reset default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 1rem;
    flex-direction: column;
}


/* phone */
@media screen and  (max-width: 400px){   
    .project-card {
        flex: 1 0 90%;
    }
}

/* Tablet */
@media screen and (min-width: 820px){
    .project-card {
        flex: 1 0 40%;
    }
}

/* Larger screens */
@media screen and (min-width: 1000px) {
    .project-card {
        flex: 1 0 20%;
    }
}